.clearfix {
  zoom: 1;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav, nav ol li, nav ul li {
  margin-bottom: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

ul {
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.button {
  display: inline-block;
  width: auto;
  margin: 0 0 0 8px;
  border-radius: 4px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-transition: all .24s ease-in-out;
  transition: all .24s ease-in-out;
  line-height: 1;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 16px;
  margin-left: 20px;
  vertical-align: middle;
}

.container {
  max-width: 1160px;
  margin: auto;
  padding: 0 20px;
}

.centercrop-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.centercrop-image img {
  min-width: 100%;
  min-height: 100%;
  height: auto;
  max-height: 133%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-menu {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-menu .header-wrap .logo {
  display: inline-block;
  width: 5%;
  position: relative;
  float: left;
  line-height: 49px;
}

.header-menu .header-wrap .logo img {
  width: 50px;
  vertical-align: middle;
}

.header-menu .header-wrap .main-nav {
  display: inline-block;
  width: 70%;
}

.header-menu .header-wrap .main-nav .menu-list {
  max-width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  left: auto;
}

.header-menu .header-wrap .main-nav .menu-list .menu-item-combo-box .sub-menu-list {
  display: block;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: absolute;
  padding-top: 0px;
  padding-left: 40px;
  padding-right: 40px;
  float: left;
  left: 0 !important;
  overflow: hidden;
  visibility: hidden;
  top: 53px;
  width: auto;
  height: 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.header-menu .header-wrap .main-nav .menu-list .menu-item-combo-box .sub-menu-list .sub-menu-item {
  display: inline-block;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  padding-left: 100px;
}

.header-menu .header-wrap .main-nav .menu-list .menu-item-combo-box .sub-menu-list .sub-menu-item .adult-category-list {
  display: block;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  float: none;
}

.header-menu .header-wrap .main-nav .menu-list .menu-item-combo-box .sub-menu-list .sub-menu-item:first-child {
  padding-left: 0;
}

.header-menu .header-wrap .main-nav .menu-list .menu-item-combo-box:hover .sub-menu-list {
  padding-top: 20px;
  height: 320px;
  visibility: visible;
}

.header-menu .header-wrap .main-nav .menu-list .menu-item {
  display: block;
  float: left;
  margin-left: 40px;
}

.header-menu .header-wrap .main-nav .menu-list .menu-item a {
  display: inline-block;
  position: relative;
  color: #8d9096;
  font-size: 16px;
  font-weight: 500;
  line-height: 49px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.header-menu .header-wrap .main-nav .menu-list .menu-item:hover .item-name {
  color: #393a3d;
}

.header-menu .header-wrap .log-and-regis-wrapp {
  display: inline-block;
  width: 25%;
  position: relative;
  float: right;
  -webkit-transform: translateY(14%);
          transform: translateY(14%);
}

.header-menu .header-wrap .log-and-regis-wrapp .button:first-child {
  margin-left: 37px;
}

.header-menu .header-wrap .log-and-regis-wrapp .btn-login {
  color: #fff;
  background: #F8C300;
  border: 2px solid #F8C300;
}

.header-menu .header-wrap .log-and-regis-wrapp .btn-login:hover {
  background-color: #ecbc0f;
  border-color: rgba(255, 147, 49, 0.1);
}

.header-menu .header-wrap .log-and-regis-wrapp .btn-signup {
  color: #004C89;
  background: #fff;
  border: 2px solid #004C89;
}

.header-menu .header-wrap .log-and-regis-wrapp .btn-signup .icon {
  display: inline-block;
  margin-right: 4px;
  font-size: 16px;
  margin-top: -4px;
  margin-bottom: 0;
}

.header-menu .header-wrap .log-and-regis-wrapp .btn-signup .icon-lock img {
  width: 15px;
  vertical-align: middle;
}

.header-menu .header-wrap .log-and-regis-wrapp .btn-signup:hover {
  color: #004C89;
  background: #4d9cdd5d;
  border: 2px solid #004C89;
}

.banner-section__banner-desctiption {
  margin-left: calc(41.66667% - 28.33333px + 40px);
  width: calc(58.33333% - 31.66667px);
  float: left;
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: unset;
  -webkit-transform: translate(0, 11%);
          transform: translate(0, 11%);
}

.banner-section__banner-content {
  padding: 0 16px;
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px);
}

.banner-section__title {
  font-weight: 800;
  line-height: 1.2;
  font-size: 60px;
  color: #fff;
  margin-bottom: 20px;
}

.banner-section__sub-title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
}

.banner-section__btn-wrapper {
  margin-top: 32px;
  width: 100%;
}

.banner-section__btn-signup {
  margin-left: 0;
  color: #fff;
  background: #F8C300;
  border: 2px solid #F8C300;
  padding: 10px 24px;
}

.banner-section__btn-signup:hover {
  background-color: #ecbc0f;
  border-color: rgba(255, 147, 49, 0.1);
}

.banner-section__btn-question {
  color: #fff;
  background: 0 0;
  border: 2px solid #fff;
  padding: 10px 24px;
}

.banner-section__banner-background-image {
  height: 405px;
  position: absolute;
  width: 100%;
  display: inline-block;
  left: 0;
  z-index: -1;
}

.banner-section__banner-background-image img {
  max-height: none;
}

.banner-section__banner-background-image:after {
  content: "";
  width: 100%;
  height: 100%;
  opacity: .7;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=main.css.map */