* {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
nav, nav ol li, nav ul li {
    margin-bottom: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}

ul {
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.button {
    display: inline-block;
    width: auto;
    margin: 0 0 0 8px;
    border-radius: 4px;
    text-align: center;
    touch-action: manipulation;
    transition: all .24s ease-in-out;
    line-height: 1;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 16px;
    margin-left: 20px;
    vertical-align: middle;
}